@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{
    font-size: 14px;
    font-family: 'Bebas Neue', cursive;

}

body{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:#F7FEE7;

}



header>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;

    background-color: rgb(41, 33, 30, .1);
    padding-left: 10vw;
    padding-right: 10vw;
}

header>nav>span{
    
    font-size: 2.8rem;
    color: #F80000;


}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

header>nav>ul{
    display: flex;
    gap: 20px;
    justify-content: space-between;

}

header>nav>ul>li{
    list-style: none;
    font-size: 1.3rem;
}

#content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-image: url("./imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#content>div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(10, 11, 10, .5);
    border-radius: 20px;
    padding: 10px;
}

#content>div>p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 4rem;
    color: #FED201;
}

#content>div>p>em{
    color:#EA0100
}

#content>p {
    font-size: 6rem;
    color: #FED201;
    margin-top: 0;
    margin-bottom: 50px;
}
#content>p>em{
    color:#EA0100 ;
}


.items{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(115, 115, 115, .5);
    height: 300px;
    width: 300px;
    border: 1px solid rgb(57, 50, 44);
    border-radius: 50%;
    transition: transform .300s ease-in-out, font-size .500s ease-in-out;

}

.items:hover{
    transform: scale(1.1);
    font-size: 1.5rem;
    cursor: pointer;
}

.items>span{
    display: flex;
    justify-content: center;
    align-items: center;
}



#item1{
    background-image: url("./imgs/Breakfast-Set.png");
}

#item2{
    background-image: url("./imgs/avocado.jpg");
    background-position: center;
    background-size: cover;
}

#item3{
    background-image: url("./imgs/burger.jpg");
    background-position: center;
    background-size: cover;
}

#item4{
    background-image: url("./imgs/ramen.jpg");
    background-position: center;
    background-size: cover;
}

.description {
    height: 70px;
    width: 300px;
    background-color: rgb(248, 189, 1, .5);
    border-radius: 10px;
}



@media only screen and (max-width: 650px) {
    #content>p{
        margin-top: 80px;
        margin-bottom: 30px;
        font-size: 3rem;
    }
    #content>div{
        margin-top: 0;
        gap: 10px;
    }
    .items{
        height: 190px;
        width: 190px;

    }
    .items:hover{
        transform: scale(1.1);
        font-size: 1.1rem;
    }
    .description {
        height: 70px;
        width: 300px;
        background-color: rgb(248, 189, 1, .5);
        border-radius: 20px;
    }

    #content>div>p{
        text-align: justify;
        text-justify: inter-word;
        font-size: 2rem;
    }
  }